$font-family: "Roboto",sans-serif;
$second-family: "DM Sans",sans-serif;
$main-text-color: rgba(255, 255, 255, 1);
$btn-color: rgba(221, 34, 66, 1);
$subtitle-color: rgba(147, 147, 147, 1);
$second-subtitle-color: rgba(224, 224, 224, 1);
$explore-title-color: rgba(2, 11, 32, 1);
$title-color:rgba(0, 0, 0, 1);