<!-- vlad -->
 <section class="explore">
    <div class="container">
        <h2 class="explore__title">Explore Our Secrets</h2>
        <ul class="explore__list">
            <li class="explore__item">
                <picture class="explore__picture">
                    <source srcset="./img/palma.png 1x, ./img/palma@2x.png 2x" type="image/png">
                    <source srcset="./img/palma.webp 1x, ./img/palma@2x.webp 2x" type="image/webp">
                    <img class="explore__image" src="./img/palma.png" alt="mountain">
                </picture>
            </li>
            <li class="explore__item">
                <picture class="explore__picture">
                    <source srcset="./img/mountain.png 1x, ./img/mountain@2x.png 2x" type="image/png">
                    <source srcset="./img/mountain.webp 1x, ./img/mountain@2x.webp 2x" type="image/webp">
                    <img class="explore__img" src="./img/mountain.png" alt="mountain">
                </picture>
            </li>
            <li class="explore__item">
                <picture class="explore__picture">
                    <source srcset="./img/park.png 1x, ./img/park@2x.png 2x" type="image/png">
                    <source srcset="./img/park.webp 1x, ./img/park@2x.webp 2x" type="image/webp">
                    <img class="explore__img" src="./img/park.png" alt="park">
                </picture>
            </li>
            <li class="explore__item">
                <picture class="explore__picture">
                    <source srcset="./img/tree.png 1x, ./img/tree@2x.png 2x" type="image/png">
                    <source srcset="./img/tree.webp 1x, ./img/tree@2x.webp 2x" type="image/webp">
                    <img class="explore__img" src="./img/tree.png" alt="tree">
                </picture>
            </li>   
             </ul>
            <div class="explore__overlay">
             
            <h2 class="explore__title-second">By The Numbers</h2>
            <p class="explore__text">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Fusce commodo magna et libero.Lorem ipsum <br> dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="explore__list-second">             
                    <li class="explore__item-second">
                        <h3 class="explore__title-list">100+</h3>
                        <p class="explore__text-list">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Fusce <br> commodo magna et libero.</p>
                    </li>
                    <li class="explore__item-second">
                        <h3 class="explore__title-list">43,000+</h3>
                        <p class="explore__text-list">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Fusce commodo.</p>
                    </li> 
                <li class="explore__item-second">
                    <h3 class="explore__title-list">30+</h3>
                    <p class="explore__text-list">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Fusce <br> commodo magna et libero.</p>
                </li>
            </ul>
        </div>
            </div>
 </section>
