<footer>
    <div class="footer__container">
        <img class="logo__footer" src="./img/logo-two.png" alt="">
        <ul class="footer__help-list">
            <li class="footer__help-item">
                <a class="footer__help">About</p>
            </li>
            <li class="footer__help-item">
                <a class="footer__help">Pricing</p>
            </li>
            <li class="footer__help-item">
                <a class="footer__help">Company</p>
            </li>
            <li class="footer__help-item">
                <a class="footer__help">Blog</p>
            </li>
        </ul>
    <div class="footer__links">
     <a href="#">
        <img class="footer__social" src="./img/social.png" alt="">
     </a>
     <img class="footer__copyright" src="./img/copyright.png" alt="">
    </div>
    </div>
</footer>