<!-- vasya -->
 <section class="galery">
    <div class="container">
        <h1 class="main-galery">Photo Gallery</h1>
        <p class="text-main-galery">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Phasellus dapibus mauris in lectus tempus, eget tincidunt.</p>
        <div class="photo-div">
            <img src="./../img/six.png" alt="photo" class="photo-galery-six">
            <img src="./../img/five.png" alt="photo" class="photo-galery-five">
            <img src="./../img/two.png" alt="photo" class="photo-galery-two">
            <img src="./../img/four.png" alt="photo" class="photo-galery-four">
            <img src="./../img/three.png" alt="photo" class="photo-galery-three">
            <img src="./../img/one.png" alt="photo" class="photo-galery-one">
        </div>
    </div>
 </section>