<!-- vasya -->
 <section class="galery">
    <div class="container">
        <h2 class="galery__title">Photo Gallery</h2>
        <p class="galery__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Phasellus dapibus mauris in lectus tempus, eget tincidunt.</p>
        <ul class="galery__photo">
            <li class="galery__item">
                <img src="./img/six.png" alt="photo" class="galery__photo-six">
            </li>
            <li class="galery__item">
                <img src="./img/five.png" alt="photo" class="galery__photo-five">
            </li>
            <li class="galery__item">
                <img src="./img/two.png" alt="photo" class="galery__photo-two">
            </li>
            <li class="galery__item">
                <img src="./img/four.png" alt="photo" class="galery__photo-four">
            </li>
            <li class="galery__item">
                <img src="./img/three.png" alt="photo" class="galery__photo-three">
            </li>
            <li class="galery__item">
                <img src="./img/one.png" alt="photo" class="galery__photo-one">
            </li>
        </ul>
    </div>
 </section>