<!-- vasya -->
 <section class="galery">
    <div class="container">
        <h2 class="galery__title">Photo Gallery</h2>
        <p class="galery__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Phasellus dapibus mauris in lectus tempus, eget tincidunt.</p>
        <div class="galery__photo-div">
            <img src="./img/six.png" alt="photo" class="galery__photo-six">
            <img src="./img/five.png" alt="photo" class="galery__photo-five">
            <img src="./img/two.png" alt="photo" class="galery__photo-two">
            <img src="./img/four.png" alt="photo" class="galery__photo-four">
            <img src="./img/three.png" alt="photo" class="galery__photo-three">
            <img src="./img/one.png" alt="photo" class="galery__photo-one">
        </div>
    </div>
 </section>