<!-- vasyya -->
<header class="hero">
  <div class="container">
    <div class="hero__header">
        <img src="./img/logo_one.png" alt="logo" class="hero__logo">
        <ul class="hero__navigation">
            <li class="hero__navigation-item">destinations</li>
            <li class="hero__navigation-item">experiences</li>
            <li class="hero__navigation-item">about</li>
            <li class="hero__navigation-item">gallery</li>
        </ul>
        <div class="hero__icon-box">
            <svg class="hero__icon">
                <use href="./img/symbol-defs.svg#icon-dandruff" class="hero__icon-one"></use>
            </svg>
            <svg class="hero__icon">
                <use href="./img/symbol-defs.svg#icon-menu" class="hero__icon-one"></use>
            </svg>
        </div>
    </div>
    <div class="hero__main">
        <div class="hero__main-box">
            <div class="hero__box">
                <div>
                    <div class="hero__red"></div>
                    <div class="hero__white"></div>
                    <p class="hero__figure">01</p>
                    <ul class="hero__list">
                        <li class="hero__item">Fb</li>
                        <li class="hero__item">In</li>
                        <li class="hero__item">Tw</li>
                    </ul>
                </div>
                <div class="hero__item-blok">
                    <div class="hero__text">
                        <div class="hero__text-main-one">
                            <h2 class="hero__text-main">explore <br>indonesia</h2>
                            <button class="hero__button-main">Start travelling</button>
                        </div>
                    </div>
    
                    <div class="hero__blok">
                        <div class="hero__blok-box">
                            <ul class="hero__blok-one">
                                <li class="hero__blok-item">
                                    <p class="hero__blok-number">01</p>
                                    <h4 class="hero__blok-main">Title here</h4>
                                    <p class="hero__blok-text">Lorem ipsum dolor sit <br>amet et amet ist ame.</p>
                                </li>
                                <li class="hero__blok-item">
                                    <p class="hero__blok-number">02</p>
                                    <h4 class="hero__blok-main">Title here</h4>
                                    <p class="hero__blok-text">Lorem ipsum dolor sit <br>amet et amet ist ame.</p>
                                </li>
                                <li class="hero__blok-item">
                                    <p class="hero__blok-number">03</p>
                                    <h4 class="hero__blok-main">Title here</h4>
                                    <p class="hero__blok-text">Lorem ipsum dolor sit <br>amet et amet ist ame.</p>
                                </li>
                            </ul>
                        </div>
                        <img src="./img/video.png" alt="video" class="hero__video">
                    </div>
                </div>


            </div>
        </div>
    </div>
  </div>
</header>