<!-- vasyya -->
<section class="hero">
  <div class="container">
    <div class="header">
        <img src="./../img/logo_one.png" alt="logo" class="logo">
        <ul class="navigation">
            <li class="navigation_li">destinations</li>
            <li class="navigation_li">experiences</li>
            <li class="navigation_li">about</li>
            <li class="navigation_li">gallery</li>
        </ul>
        <svg class="icon">
            <use href="./../img/symbol-defs.svg#icon-menu" class="icon-one"></use>
        </svg>
        <svg class="icon">
            <use href="./../img/symbol-defs.svg#icon-dandruff" class="icon-one"></use>
        </svg>
    </div>
    <div class="main">
        <div class="text">
            <img src="./../img/item.png" alt="stem" class="stem">
            <div class="text-main-one">
                <h2 class="text-main">explore <br>indonesia</h2>
                <button class="button-main">Start travelling</button>
            </div>
        </div>
        <div class="blok">
            <img src="./../img/p.png" alt="stem" class="stem-one">
            <div class="blok-ul">
                <ul class="blok-one">
                    <li class="blok-li-one">
                        <p class="blok-number">01</p>
                        <h4 class="blok-main">Title here</h4>
                        <p class="blok-text">Lorem ipsum dolor sit <br>amet et amet ist ame.</p>
                    </li>
                    <li class="blok-li">
                        <p class="blok-number">02</p>
                        <h4 class="blok-main">Title here</h4>
                        <p class="blok-text">Lorem ipsum dolor sit <br>amet et amet ist ame.</p>
                    </li>
                    <li class="blok-li-two">
                        <p class="blok-number">03</p>
                        <h4 class="blok-main">Title here</h4>
                        <p class="blok-text">Lorem ipsum dolor sit <br>amet et amet ist ame.</p>
                    </li>
                </ul>
            </div>
            <img src="./../img/video.png" alt="video" class="video">
        </div>
    </div>
  </div>
</section>