<!-- vika -->
<section class="planing">
    <div class="container">
      <h4 class="planing__main-title">Getting there</h4>
      <div class="planing__dox">
      <div class="planing__dox-elements">
          <div class="planing__number">1</div>
        <div class="planing__info">
          <h6 class="planing__second-title">Bookings your flights</h6>
          <p class="planing__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            dapibus mauris in lectus <br />
            tempus, eget tincidunt lacus varius. Sed euismod orci dictum faucibus
            malesuada. Praesent sed <br />
            eros tincidunt, viverra neque auctor, lobortis enim.
          </p>
        </div>
      </div>
      <div class="planing__dox">
        <div class="planing__number">2</div>
        <div class="planing__info">
          <h6 class="planing__second-title">Choosing your hotel</h6>
          <p class="planing__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            dapibus mauris in lectus <br />
            tempus, eget tincidunt lacus varius. Sed euismod orci dictum faucibus
            malesuada. Praesent sed <br />
            eros tincidunt, viverra neque auctor, lobortis enim.
          </p>
        
        <div class="planing__dox-motorbike">
          <div class="planing__image">
            <picture>
              <source
                srcset="./img/motorbike.png 1x, ./img/motorbike@2x.png 2x"
                type="image/png"
              />
              <source
                srcset="./img/motorbike.webp 1x, ./img/motorbike@2x.webp 2x"
                type="image/webp"
              />
              <img src="./img/motorbike.png" alt="motorbike" />
            </picture>
          </div>
          <div class="planing__info-motorbike">
            <h6 class="planing__second-title">Travelling there</h6>
            <p class="planing__text">
              Lorem ipsum dolor sit amet, consectetur <br />
              adipiscing elit. Phasellus dapibus mauris <br />
              in lectus tempus, eget tincidunt.
            </p>
          </div>
        </div>
      </div>
  </div>
      <div class="planing__dox">
        <div class="planing__number">3</div>
        <div class="planing__info">
          <h6 class="planing__second-title">Planning your experiences</h6>
          <p class="planing__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            dapibus mauris in lectus <br />
            tempus, eget tincidunt lacus varius.
          </p>
        </div>
      </div>
  </div>
      <button class="planing__btn">Learn More</button>
    </div>
  </section>
