<!-- vika -->
<section class="travelprogramsecond">
  <div class="container">
    <div class="travelprogram__second">
      <div class="travelprogramsecond__image">
        <picture>
          <source
            srcset="
              ./img/benefits-beaches.png    1x,
              ./img/benefits-beaches@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/benefits-beaches.webp    1x,
              ./img/benefits-beaches@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./img/benefits-beaches.png" alt="beach" />
        </picture>
      </div>
      <div class="travelprogramsecond__dox">
        <h3 class="travelprogramsecond__title">
          The walkways of <br />
          Indonesia spellbind
        </h3>
        <p class="travelprogramsecond__text">
          Lorem ipsum dolor sit amet, consectetur adip <br />
          iscing elit. Fusce commodo magna et libero <br />
          mollis rhoncus.
        </p>
        <button class="travelprogramsecond__btn">Learn More</button>
      </div>
    </div>
  </div>
</section>
