.explore__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: $explore-title-color;
  padding-top: 40px;
  margin-bottom: 33px;
}
.explore {
  background-image: url('../img/image-fon.png');
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .explore {
    background-image: url('../img/image-fon@2x.png');
  }
}
.explore__img {
  display: none;
}
.explore__image {
  margin-bottom: 728px;
  width: 290px;
}
.explore__title-second {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: $main-text-color;
  margin-bottom: 52px;
}
.explore__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: $subtitle-color;
}
.explore__title-list {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: $btn-color;
  margin-bottom: 16px;
  margin-top: 67px;
}
.explore__text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: $subtitle-color;
}
.explore__overlay {
  background-color: #020c21;
  opacity: 0.9;
  padding: 72px 69px;
}
@media screen and (min-width: 768px) {
  .explore__title {
    font-size: 50px;
  }
  .explore__image {
    display: none;
  }
  .explore__img {
    display: inline;
  }
  .explore__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 800px;
  }
  .explore__img{
    width: 225px;
  }
  .explore__list-div{
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width:1200px){
  .explore__list-div{
    display: flex;
  }
  .explore__item-second:nth-child(1){
    margin-right: 70px;
  }
  .explore__list-second{
    display: flex;
    justify-content: space-around;
  }
  .explore__img{
    width: 370px;
  }
  .explore__list{
    margin-bottom: 1134px;
  }
}
