// vasya
.galery{
    padding-top: 160px;

    &__title{
        color: #010A20;
        font-family: DM Sans, sans-serif;
        font-size: 50px;
        text-align: center;
    }
    &__text{
        color: #6F7787;
        font-family: DM Sans, sans-serif;
        font-weight: 100;
        text-align: center;
        margin-top: 35px;
    }
    &__photo-one, &__photo-two{
        height: 370px;
        width: 370px;
    }
    &__photo-three, &__photo-six{
        height: 530px;
        width: 370px;
    }
    &__photo-four, &__photo-five{
        height: 210px;
        width: 370px;
    }
    &__photo-div{
        display: flex;
        max-width: 100%;
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 70px;
        width: 1170px;
        height: 770px;
        margin: none;
    }

    
}