// vasya
.galery{
    padding-top: 160px;
    margin-bottom: 230px;
    
    &__title{
        color: #010A20;
        font-family: DM Sans, sans-serif;
        font-size: 50px;
        text-align: center;
    }
    &__text{
        color: #6F7787;
        font-family: DM Sans, sans-serif;
        font-weight: 100;
        text-align: center;
        margin-top: 35px;
    }
    &__photo{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 70px;
    }
    &__item:nth-child(5){
        margin-top: -320px;
    }
    &__item:nth-child(6){
        margin-top: -160px;
    }

    @media(max-width: 1200px){
        &__photo{
            width: 100%;
        }
        &__item{
            width: 100%;
        }
        &__item:nth-child(5){
            margin-top: 0px;
        }
        &__item:nth-child(6){
            margin-top: 0px;
        }
    }
    @media(max-width: 768px){
    }
}