// vasya
.hero{
    background-image: url(./../../img/fon.png);
    height: 100%;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 185px;
    height: 68px;
    margin-right: 64px;
    cursor: pointer;
}
.navigation{
    text-transform: uppercase;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    color: #fff;
    display: flex;
    padding-right: 300px;
}
.navigation_li{
    padding: 30px;
    cursor: pointer;
}
.icon{
    width: 24px;
    margin: 5px;
    cursor: pointer;
}
.stem{
    width: 21px;
    height: 433px;
}
.text-main{
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;
}
.button-main{
    background-color: #DD2242;
    color: #fff;
    border: none;
    border-radius: 211px;
    width: 271px;
    height: 82px;
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.text{
    display: flex;
    padding-top: 90px;
}
.text-main-one{
    display: block;
    padding-left: 190px;
}
.stem-one{
    width: 21px;
    padding-top: 100px;
}
.blok-number{
    color: #DD2242;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
.blok-main{
    color: #fff;
    font-family: DM Sans, sans-serif;
    font-size: 20px;
}
.blok-text{
    color: #939393;
    font-family: DM Sans, sans-serif;
    font-size: 15px;
}
.blok-one{
    background-color: #0000009f;
    display: flex;
    justify-content: center;
    padding-left: 70px;
    height: 170px;
}
.blok-ul{
    padding-left: 40px;
    padding-top: 97px;
}
.blok-li{
    padding-right: 190px;
    padding-top: 45px;
    padding-bottom: 45px;
}
.blok-li-one{
    padding-right: 190px;
    padding-top: 45px;
    padding-bottom: 45px;
}
.blok-li-two{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 50px;
}
.blok{
    display: flex;
}
.video{
    height: 170px;
    width: 350px;
    position: absolute;
    left: 1168px;
    top: 780px;
    cursor: pointer;
    
}