// vika
.travelprogramsecond {
    background-image: url('../img/benefits-beaches-background.png');
    background-color: rgba(1, 10, 32, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 207px;
    padding-bottom: 97px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .travelprogramsecond {
      background-image: url('../img/benefits-beaches-background@2x.png');
    }
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .travelprogramsecond {
      background-image: url('../img/benefits-beaches-background@2x.webp');
    }
  }
  .travelprogramsecond__image {
    display: inline-block;
    margin-left: 147px;
    border-radius: 10px;
    width: 630px;
    height: 460px;
  }
  .travelprogramsecond__title {
    font-weight: 700;
    font-size: 42px;
    font-family: 'DM Sans', sans-serif;
    color: $main-text-color;
  }
  .travelprogramsecond__text {
    font-weight: 400;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.01em;
    color: $second-subtitle-color;
    margin-top: 26px;
  }
  .travelprogramsecond__btn {
    background-color: $btn-color;
    color: $main-text-color;
    border-radius: 32px;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 41px;
    padding-left: 41px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 32px;
    cursor: pointer;
  }
  .travelprogramsecond__div{
      float: left;
  }