// vika
.container {
  width: 100%;
}
.travelprogram {
  background-image: url('../img/benefits-roads-background.png');
  background-color: rgba(1, 10, 32, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .travelprogram {
    background-image: url('../img/benefits-roads-background@2x.png');
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .travelprogram {
    background-image: url('../img/benefits-roads-background@2x.webp');
  }
}
.travelprogram__image {
  display: block;
  width: 362px;
  height: auto;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 3000ms;
  text-align: center;
  margin: 0 auto;
}
.travelprogram__image:hover {
  transform: scale(0.9);
}
.travelprogram__first {
  position: relative;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.travelprogram__title {
  margin-top: 34px;
  font-weight: 700;
  font-size: 40px;
  font-family: 'DM Sans', sans-serif;
  color: $main-text-color;
}
.travelprogram__text {
  font-weight: 400;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.03em;
  color: $second-subtitle-color;
  margin-top: 29px;
  line-height: 28px;
}
.travelprogram__btn {
  background-color: $btn-color;
  color: $main-text-color;
  border-radius: 32px;
  border: none;
  padding: 22px 108px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  margin-top: 32px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 600ms;
}
.travelprogram__btn:hover {
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
    inset 0 0 0 transparent, inset 0 0 0 transparent,
    0 0 20px rgb(189, 188, 188);
}
@media screen and (min-width: 768px) {
  .travelprogram {
    padding-top: 207px;
    padding-bottom: 120px;
  }
  .travelprogram__image {
    display: block;
    width: 630px;
    height: 460px;
  }
  .travelprogram__image:hover {
    transform: scale(1.1);
  }
  .travelprogram__first {
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
  }
  .travelprogram__title {
    margin-top: 0;
    font-size: 42px;
  }
  .travelprogram__text {
    font-size: 18px;
    margin-top: 26px;
  }
  .travelprogram__btn {
    width: fit-content;
    margin: auto;
    right: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    padding: 22px 105px;
  }
}
@media screen and (min-width: 1200px) {
  .travelprogram {
    padding-top: 207px;
    padding-bottom: 97px;
  }
  .travelprogram__first {
    gap: 130px;
  }
  .travelprogram__image {
    width: 630px;
    height: 460px;
  }
  .travelprogram__btn {
    padding: 16px 41px;
    position: static;
    margin-top: 0;
    left: 0;
    margin-top: 32px;
  }
}

// .travelprogram {
//   background-image: url('../img/benefits-roads-background.png');
//   background-color: rgba(1, 10, 32, 1);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   padding-top: 207px;
//   padding-bottom: 97px;
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .travelprogram {
//     background-image: url('../img/benefits-roads-background@2x.png');
//   }
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .travelprogram {
//     background-image: url('../img/benefits-roads-background@2x.webp');
//   }
// }
// .travelprogram__image {
//   display: block;
//   width: 630px;
//   height: 460px;
//   cursor: pointer;
//   transition-property: transform;
//   transition-duration: 3000ms;
// }
// .travelprogram__image:hover {
//   transform: scale(1.1);
// }
// .travelprogram__first {
//   display: flex;
//   gap: 130px;
//   align-items: center;
// }
// .travelprogram__title {
//   font-weight: 700;
//   font-size: 42px;
//   font-family: 'DM Sans', sans-serif;
//   color: $main-text-color;
// }
// .travelprogram__text {
//   font-weight: 400;
//   font-size: 18px;
//   font-family: 'DM Sans', sans-serif;
//   letter-spacing: 0.01em;
//   color: $second-subtitle-color;
//   margin-top: 26px;
//   line-height: 28px;
// }
// .travelprogram__btn {
//   background-color: $btn-color;
//   color: $main-text-color;
//   border-radius: 32px;
//   border: none;
//   padding-top: 16px;
//   padding-bottom: 16px;
//   padding-right: 41px;
//   padding-left: 41px;
//   font-weight: 700;
//   font-size: 18px;
//   font-family: 'DM Sans', sans-serif;
//   margin-top: 32px;
//   cursor: pointer;
//   transition-duration: box-shadow;
//   transition-duration: 600ms;
// }
// .travelprogram__btn:hover {
//   box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
//     inset 0 0 0 transparent, inset 0 0 0 transparent,
//     0 0 20px rgb(189, 188, 188);
// }

